{%- assign bundler = product.metafields.bwp_fields.bundle -%}

{%- if bundler != blank -%}
  {% assign bundle_list = bundler.value %}

  {% for bundle_item in bundle_list %}
    {% liquid
      assign bundle_products = bundle_item.products.value
      if bundle_products.size == 0
        continue
      endif

      assign callout_message = bundle_item.callout_message.value
      assign percentage_discount = bundle_item.percentage_discount.value
      assign fixed_amount_discount = bundle_item.fixed_amount_discount.value
      assign fixed_bundle_price = bundle_item.fixed_bundle_price.value
      assign has_component_oos = false

      for innerProd in bundle_products
        assign variant_oos = true
        for variant in innerProd.variants
          if variant.inventory_policy != 'continue' and variant.inventory_quantity > 0
            assign variant_oos = false
            break
          elsif variant.inventory_policy == 'continue'
            assign variant_oos = false
            break
          endif
        endfor
        if variant_oos == true
          assign has_component_oos = true
          break
        endif
      endfor
    %}

    <div class="product_buy_together image {% if has_component_oos %}has-component-oos{% endif %}">
      <h3 class="bundler_title">
        {{ bundle_item.bundle_name.value }}
      </h3>
      <form
        method="post"
        id="miniBundleForm-{{ section.id }}"
        action="{{ routes.cart_add_url }}"
        enctype="multipart/form-data"
        novalidate="novalidate"
        class="mini-bundle-form {% if percentage_discount != blank and percentage_discount > 0 %}has-percentage-discount{% endif %} {% if fixed_amount_discount != blank and fixed_amount_discount > 0 %}has-fixed-amount-discount{% endif %} {% if fixed_bundle_price != blank and fixed_bundle_price > 0 %}has-fixed-bundle-price{% endif %}"
        data-percentage-discount="{{ percentage_discount }}"
        data-fixed-amount-discount="{{ fixed_amount_discount }}"
        data-fixed-bundle-price="{{ fixed_bundle_price }}"
      >
        <input type="hidden" name="form_type" value="product">
        <div class="buy-together-products">
          {% comment %} TODO: Calculate price with discounts {% endcomment %}
          {% assign price = 0 %}
          {% assign number_item = 0 %}
          {% if callout_message != blank %}
            <div class="callout-message">
              {{ callout_message }}
            </div>
          {% endif %}
          <div class="item-products-wrap">
            <div class="content-items">
              {% for innerProd in bundle_products %}
                {% liquid
                  assign out_stock = true
                  for variant in innerProd.variants
                    if variant.inventory_policy != 'continue' and variant.inventory_quantity > 0
                      assign out_stock = false
                    elsif variant.inventory_policy == 'continue'
                      assign out_stock = false
                    endif
                  endfor
                %}
                <div
                  data-product_id="{{ innerProd.id }}"
                  data-handle="{{ innerProd.handle }}"
                  class="item-product-inner {% if out_stock %}buy-together-hidden{%- endif -%}"
                >
                  <div class="image">
                    <a href="{{ innerProd.url }}">
                      {% if innerProd.selected_or_first_available_variant.featured_image != blank %}
                        {% assign image = innerProd.selected_or_first_available_variant.featured_image %}
                      {%- else -%}
                        {% assign image = innerProd.featured_image %}
                      {%- endif -%}
                      {% include 'img-global' with image: image , class: "featured-banner__img", effect: "fade-in" %}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="item-products-wrap wpb-check">
            {% comment %} TODO: Calculate price with discounts {% endcomment %}
            {% assign total_price = 0 %}
            {% for innerProd in bundle_products %}
              {% liquid
                assign total_price = total_price | plus: innerProd.price
                assign number_item = number_item | plus: 1
                assign selected = false
                assign out_stock = true
                for variant in innerProd.variants
                  if variant.inventory_policy != 'continue' and variant.inventory_quantity > 0
                    assign out_stock = false
                  elsif variant.inventory_policy == 'continue'
                    assign out_stock = false
                  endif
                endfor
              %}
              <div
                data-product_id="{{ innerProd.id }}"
                data-handle="{{ innerProd.handle }}"
                class="item-product {% if out_stock == false %}active{% endif %}"
              >
                <label
                  class="d-block {% if out_stock != false %}disabled{% endif %}"
                >
                  <div>
                    <span class="item-product-title">
                      {{ innerProd.title }}
                    </span>
                  </div>

                  <div class="d-flex align-items-center flex-wrap flex-lg-nowrap">
                    <select
                      name="items[][id]"
                      class="js-product-btp--{{ section.id }} product-single__variants col-12 col-lg-auto px-0 mb-2 mb-lg-0"
                      {% if out_stock != false %}
                        disabled="disabled"
                      {% endif -%}
                    >
                      {%- for variant in innerProd.variants -%}
                        {% liquid
                          if variant.featured_image
                            assign variant_featured_image = variant.featured_image.src | img_url: ''
                          endif
                          capture v_s_price
                            render 'calc-sale-price' with price: variant.price, percentage_discount: percentage_discount, fixed_amount_discount: fixed_amount_discount, fixed_bundle_price: fixed_bundle_price
                          endcapture
                          assign v_s_price = v_s_price | strip | plus: 0
                          assign v_o_price = variant.price
                        %}
                        <option
                          {% if variant.available == true and selected == false %}
                            selected="selected"
                            {% assign selected = true %}
                          {% endif %}
                          {% if variant.available == false %}
                            disabled="disabled"
                          {% endif %}
                          data-price="{{ v_s_price }}"
                          data-origin-price="{{ v_o_price }}"
                          data-sale-price="{{ v_s_price }}"
                          data-qty="{{ variant.inventory_quantity }}"
                          {% if variant_featured_image != blank %}
                            data-image="{{ variant_featured_image }}"
                          {% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                        </option>
                      {%- endfor -%}
                    </select>
                    <span class="buy-together-price ml-auto">
                      {% if v_o_price != v_s_price %}
                        <span class="original-price">{{ v_o_price | money }}</span>
                        <span class="sale-price">{{ v_s_price | money }}</span>
                      {% else %}
                        <span class="price">
                          {{ v_s_price | money }}
                        </span>
                      {% endif %}
                    </span>

                    <input
                      data-price="{{ v_s_price }}"
                      data-product_id="{{ innerProd.id }}"
                      data-handle="{{ innerProd.handle }}"
                      type="checkbox"
                      {% if out_stock == false %}
                        checked="checked"
                      {% endif -%}
                      {% if out_stock != false %}
                        disabled="disabled"
                      {% endif %}
                    >
                  </div>

                  {%- if out_stock != false -%}
                    <input
                      name="items[][quantity]"
                      type="number"
                      value="0"
                      class="hide hidden"
                      disabled="disabled"
                    >
                  {%- else -%}
                    <input name="items[][quantity]" type="number" value="1" class="hide hidden">
                  {%- endif -%}
                </label>
              </div>
            {% endfor %}
          </div>

          <div class="item-content-right">
            <div class="total-price-html" data-percentage_discount="{{ percentage_discount }}">
              {{ 'products.product.total_price' | t }}
              {% liquid
                capture total_s_price
                  render 'calc-sale-price' with price: total_price, percentage_discount: percentage_discount, fixed_amount_discount: fixed_amount_discount, fixed_bundle_price: fixed_bundle_price
                endcapture
                assign total_s_price = total_s_price | strip | plus: 0
              %}
              <span>{{ total_s_price | money }}</span>
            </div>
            <span class="for-items-text">
              For <span>{{ number_item }}</span> item(s)
            </span>
            <div class="buy-together-cart">
              <button
                type="submit"
                class="btn--add-to-cart buy-together-add-all-to-cart"
                {% if has_component_oos == true %}
                  disabled="disabled"
                {% endif %}
              >
                <span>{{ 'products.product.add_all_to_cart' | t }}</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endfor %}
{%- endif -%}
