{%- assign bundler = product.metafields.bwp_fields.bundle -%}

{%- if bundler != blank -%}
  {% assign bundle_list = bundler.value %}

  {% for bundle_item in bundle_list %}
    {% liquid
      assign bundle_products = bundle_item.products.value
      assign percentage_discount = bundle_item.percentage_discount.value
      assign percentage_after = 0
      assign fixed_amount_discount = bundle_item.fixed_amount_discount.value
      assign fixed_bundle_price = bundle_item.fixed_bundle_price.value

      if bundle_products.size == 0
        continue
      endif

      if percentage_discount != blank and percentage_discount > 0
        assign percentage_after = 100 | minus: percentage_discount
      endif
    %}

    <div class="product_buy_together image">
      <h3 class="bundler_title">
        {{ bundle_item.bundle_name.value }}
      </h3>
      <form
        method="post"
        id="miniBundleForm-{{ section.id }}"
        action="{{ routes.cart_add_url }}"
        enctype="multipart/form-data"
        novalidate="novalidate"
        class="mini-bundle-form {% if percentage_discount != blank and percentage_discount > 0 %}has-percentage-discount{% endif %} {% if fixed_amount_discount != blank and fixed_amount_discount > 0 %}has-fixed-amount-discount{% endif %} {% if fixed_bundle_price != blank and fixed_bundle_price > 0 %}has-fixed-bundle-price{% endif %}"
        data-percentage-discount="{{ percentage_discount }}"
        data-fixed-amount-discount="{{ fixed_amount_discount }}"
        data-fixed-bundle-price="{{ fixed_bundle_price }}"
      >
        <input type="hidden" name="form_type" value="product">
        <div class="buy-together-products">
          {% comment %} TODO: Calculate price with discounts {% endcomment %}
          {% assign price = 0 %}
          {% assign number_item = 0 %}
          <div class="item-products-wrap">
            <div class="content-items">
              {% for product in bundle_products %}
                {%- for variant in product.variants -%}
                  {% if variant.inventory_management == 'shopify' and variant.inventory_policy != 'continue' %}
                    {% if variant.inventory_quantity == 0 %}
                      {% assign out_stock = true %}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
                {% if out_stock == blank %}
                  {% assign price = price | plus: product.price %}
                  {% assign number_item = number_item | plus: 1 %}
                {%- endif -%}
                <div
                  data-product_id="{{ product.id }}"
                  data-handle="{{ product.handle }}"
                  class="item-product-inner {% if out_stock %}buy-together-hidden{%- endif -%}"
                >
                  <div class="image">
                    <a href="{{ product.url }}">
                      {% if product.selected_or_first_available_variant.featured_image != blank %}
                        {% assign image = product.selected_or_first_available_variant.featured_image %}
                      {%- else -%}
                        {% assign image = product.featured_image %}
                      {%- endif -%}
                      {% include 'img-global' with image: image , class: "featured-banner__img", effect: "fade-in" %}
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="item-products-wrap wpb-check">
            {% comment %} TODO: Calculate price with discounts {% endcomment %}
            {% assign price = 0 %}
            {% for product in bundle_products %}
              {% liquid
                assign out_stock = ''
                assign price = price | plus: product.price
                assign origin_price = product.price
                assign sale_price = product.price
                if percentage_after != blank and percentage_after > 0
                  assign sale_price = sale_price | times: percentage_after | divided_by: 100
                endif
                for variant in product.variants
                  if variant.inventory_management == 'shopify' and variant.inventory_policy != 'continue'
                    if variant.inventory_quantity == 0
                      assign out_stock = true
                    endif
                  endif
                endfor
              %}
              <div
                data-product_id="{{ product.id }}"
                data-handle="{{ product.handle }}"
                class="item-product{% if out_stock == blank %} active{% endif %}"
              >
                <label
                  {% if out_stock != blank %}
                    class="disabled"
                  {% endif %}
                  class="d-block"
                >
                  <div>
                    <input
                      data-price="{{ sale_price }}"
                      data-product_id="{{ product.id }}"
                      data-handle="{{ product.handle }}"
                      type="checkbox"
                      {% if out_stock == blank %}
                        checked="checked"
                      {% endif -%}
                      {% if out_stock != blank %}
                        disabled="disabled"
                      {% endif %}
                    >
                    <span class="item-product-title">
                      {{ product.title }}
                    </span>
                  </div>

                  <div class="d-flex align-items-center">
                    <select
                      name="items[][id]"
                      class="js-product-btp--{{ section.id }} product-single__variants"
                    >
                      {%- for variant in product.variants -%}
                        {%- if variant.available -%}
                          {%- if variant.featured_image -%}
                            {% assign variant_featured_image = variant.featured_image.src | img_url: '' %}
                          {%- endif -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}
                              selected="selected"
                            {% endif %}
                            data-price="{{ variant.price }}"
                            data-image="{{ variant_featured_image }}"
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                          </option>
                        {%- else -%}
                          <option
                            disabled="disabled"
                            data-price="{{ variant.price }}"
                            data-image="{{ variant_featured_image }}"
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                          </option>
                        {%- endif -%}
                      {%- endfor -%}
                    </select>
                    <span class="buy-together-price ml-auto">
                      {% if origin_price != sale_price %}
                        <span class="original-price">{{ origin_price | money }}</span>
                        <span class="sale-price">{{ sale_price | money }}</span>
                      {% else %}
                        <span class="price">
                          {{ origin_price | money }}
                        </span>
                      {% endif %}
                    </span>
                  </div>

                  {%- if out_stock != blank -%}
                    <input
                      name="items[][quantity]"
                      type="number"
                      value="0"
                      class="hide hidden"
                      disabled="disabled"
                    >
                  {%- else -%}
                    <input name="items[][quantity]" type="number" value="1" class="hide hidden">
                  {%- endif -%}
                </label>
              </div>
            {% endfor %}
          </div>

          <div class="item-content-right">
            <div class="total-price-html" data-percentage_discount="{{ percentage_discount }}">
              {{ 'products.product.total_price' | t }}
              {% liquid
                if percentage_after != blank and percentage_after > 0
                  assign price = price | times: percentage_after | divided_by: 100
                endif
                if fixed_amount_discount != blank and fixed_amount_discount > 0
                  assign price = price | minus: fixed_amount_discount
                  if price <= 0
                    assign price = 0
                  endif
                endif
                if fixed_bundle_price != blank and fixed_bundle_price > 0
                  assign price = fixed_bundle_price
                endif
              %}
              <span>{{ price | money }}</span>
            </div>
            <span class="for-items-text">
              For <span>{{ number_item }}</span> item(s)
            </span>
            <div class="buy-together-cart">
              <button type="submit" class="btn--add-to-cart buy-together-add-all-to-cart">
                <span>{{ 'products.product.add_all_to_cart' | t }}</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endfor %}
{%- endif -%}
