<title>
  {% if template contains 'search' %}
    {% liquid
      capture results_count
        render 'search-count'
      endcapture
      assign results_count = results_count | strip
    %}
    {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: results_count }}
  {% else %}
    {{ page_title }}
  {% endif %}
  {% if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {%- endif %}
  {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
  {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
</title>
