{% case source_type %}
  {% when 'internal' %}
    <div
      class="wpbingo-slideshow__item-video"
      data-preview-image="{{ video_obj.preview_image.src | escape }}"
    >
      <picture class="preview-image">
        {% if mobile_video_obj != blank %}
          <source
            srcset="{{ mobile_video_obj.preview_image.src | image_url: width: 720 }}"
            media="(max-width: 768px)"
          >
        {% endif %}
        {% if video_obj != blank %}
          <img
            width="100%"
            height="auto"
            src="{{ video_obj.preview_image.src | image_url: width: 1280 }}"
            alt="preview-{{ video_obj.alt | escape }}"
            {% if priority == true %} fetchpriority="high" {% endif %}
          >
        {% endif %}
      </picture>

      <video
        class="w-100 d-none"
        autoplay
        muted
        loop
        playsinline
        alt="{{ video_obj.alt | escape }}"
        poster="{{ video_obj.preview_image.src | image_url }}"
      >
        {% for source in video_obj.sources %}
          {% if source.format == 'mp4' %}
            <source
              data-src="{{ source.url }}"
              type="{{ source.mime_type }}"
              media="{% if mobile_video_obj.sources != blank %}(min-width: 769px){% endif %}"
            >
          {% endif %}
        {% endfor %}
        {% if mobile_video_obj.sources != blank %}
          {% for source in mobile_video_obj.sources %}
            {% if source.format == 'mp4' %}
              <source
                data-src="{{ source.url }}"
                type="{{ source.mime_type }}"
                media="(max-width: 768px)"
              >
            {% endif %}
          {% endfor %}
        {% endif %}
      </video>
    </div>
  {% when 'external' %}
    <div class="wpbingo-slideshow__item-video" data-preview-image="">
      <iframe
        src="{{ video_obj | escape }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  {% else %}

{% endcase %}
